<head>
  <title>Timeline Chart</title>
</head>

<div *ngIf="!this.showGraph">
  <mat-progress-bar mode="determinate" value="{{progressBarValue}}"></mat-progress-bar>
  <mat-progress-bar mode="buffer" *ngIf="progress"></mat-progress-bar>
  <mat-vertical-stepper [linear]="isLinear" #stepper>

    <mat-step [editable]="false" [completed]="step1">
      <ng-template matStepLabel>Data selection steps for timeline graph.</ng-template>
      <br>
      <div>
        <button mat-button mat-raised-button color="warn" (click)="getCountries(stepper)">Begin</button>
      </div>
    </mat-step>

    <mat-step [editable]="false" [completed]="step2">
      <ng-template matStepLabel>Select one or more Countries</ng-template>
      <br>
      <mat-form-field style="width: 30em">
        <mat-select placeholder="Click here to select Countries" [formControl]="selectedCountries" multiple>
          <mat-select-trigger>
            {{selectedCountries.value ? selectedCountries.value[0] : ''}}
            <span *ngIf="selectedCountries.value?.length > 1" class="additional-selection">
            (+{{selectedCountries.value.length - 1}} {{selectedCountries.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-optgroup label="Countries">
            <mat-option *ngFor="let country of Countries" [value]="country">
              {{country}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <br><br>
      <div>
        <button mat-button mat-raised-button color="warn" (click)="getIndicators(stepper)">Next</button>
      </div>
    </mat-step>

    <mat-step [editable]="false" [completed]="step3">
      <ng-template matStepLabel>Select an Indicator</ng-template>
      <br>
      <mat-form-field style="width: 34em">
        <mat-select placeholder="Click here to select an indicator" [formControl]="selectedIndicators" [multiple]="false">
          <mat-optgroup label="Indicators">
            <mat-option *ngFor="let indicator of Indicators" [value]="indicator">
              {{indicator}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <br><br>
      <div>
        <button mat-button mat-raised-button color="warn" (click)="getYearSpans(stepper)">Next</button>
      </div>
    </mat-step>

    <mat-step [editable]="false" [completed]="step4">
      <ng-template matStepLabel>Select years span</ng-template>
      <br>
      <mat-form-field style="width: 30em">
        <mat-select placeholder="Click here to select years span" [formControl]="selectedYearSpan" [multiple]="false">
          <mat-optgroup label="Five year span">
            <mat-option *ngFor="let span of FiveYearSpan" [value]="span">
              {{span}}
            </mat-option>
          </mat-optgroup>
          <mat-optgroup label="Ten year span">
            <mat-option *ngFor="let span of TenYearSpan" [value]="span">
              {{span}}
            </mat-option>
          </mat-optgroup>
          <mat-optgroup label="Twenty year span">
            <mat-option *ngFor="let span of TwentyYearSpan" [value]="span">
              {{span}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button mat-raised-button color="warn" (click)="prepareData(stepper)">Next</button>
      </div>
    </mat-step>

    <mat-step [editable]="false" [completed]="step5">
      <ng-template matStepLabel>Done</ng-template>
      <div>
        <button mat-button mat-raised-button color="warn" style="margin:5px" (click)="createGraph()">Create Graph!</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>

<div *ngIf="this.showGraph">
  <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="this.GraphDataFormat"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline">
  </ngx-charts-line-chart>
</div>

