version: "3.2"
services:
  nodejs:
    build:
      context: .
    image: statify/api
    environment:
      - MYSQL_HOST=statify-mysql
      - MYSQL_USER=user
      - MYSQL_PASS=password
      - MYSQL_DB=StatisticsDB
    ports:
      - "3000:3000"
    container_name: statify-nodejs-app
    depends_on:
      - mysql
    networks:
      - default
  mysql:
    image: mysql
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password
    networks:
      - default
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password
      - MYSQL_DATABASE=StatisticsDB
    container_name: statify-mysql
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    depends_on:
      - mysql
    networks:
      - default
    ports:
      - "8080:80"
    environment:
      - PMA_HOST=statify-mysql
      - PMA_PORT= 3306
    container_name: statify-phpmyadmin

